h1
  padding: 20px
  +header(48)
  background: $blue_deep
  color: #fff

#body
  padding: 0

#add_location
  padding: 2em 20px 0
  +background($gradient_grey)
  +box-shadow(0 2px 2px 0 #dddde3)
  margin-bottom: 3em

  .input, .submit
    float: left
    margin-right: 1em

  input[type="text"]
    width: 16em

  .submit
    margin-top: 1.2em
    clear: none
    color: #fff

#locations, .map_container
  float: left

h2
  +header(22)
  margin-bottom: 0.6em

#locations
  width: 40%
  padding: 0 0 0 20px
  margin-right: 2em

  ul
    .empty_message
      display: none
      +font_size(16)
      color: $grey_c
      text-align: center
      padding-top: 4em

    &.empty
      .empty_message
        display: block


  li
    padding: 1em
    border: 1px solid #eee
    border-radius: 1
    +background($gradient_grey)

    .name
      margin-right: 2em
      font-weight: bold

      &:empty
        margin-right: 0

    .delete
      float: right
      cursor: pointer
      text-transform: uppercase
      text-shadow: 1px 1px 0 1px $grey_c inset
      color: $red_orange
      font-weight: bold
      opacity: 0.5

      &:hover
        opacity: 0.7


.map_container, #map
  width: 550px
  height: 400px
  position: relative
  text-align: center

  #map
    border: 2px solid $grey_a

  .error_message
    width: 350px
    position: absolute
    top: 150px
    margin: 0 75px
    padding: 25px
    font: bold 16px/1.2 $stack_sans
    color: $red_orange
    border: 2px solid $red_orange
    border-radius: 4px
    background: #fcc
    +transition(opacity 0.7s ease-in-out)

    opacity: 0

    &.active
      opacity: 1
