#add_location
  padding: 1em
  background: #f6f6f6
  border-bottom: 2px dotted #ccc
  margin-bottom: 2em

  .input
    display: inline-block
    margin-right: 1em

#locations, #map
  float: left

#locations
  width: 30%
  margin-right: 2em

  li
    padding: 1em
    border-bottom: 1px solid #ccc

    .delete
      float: right

#map
  width: 600px
  height: 600px
  border: 2px solid #333
