h1
  padding: 20px
  +header(36)

#body
  padding: 0

h1, #add_location
  background: #f6f6f6

#add_location
  padding: 0 20px
  background: #f6f6f6
  border-bottom: 2px dotted #ccc
  margin-bottom: 2em

  .input, .submit
    float: left
    margin-right: 1em

  input[type="text"]
    width: 16em

  .submit
    margin-top: 1.2em
    clear: none
    color: #fff

#locations, #map
  float: left

h2
  +header(22)
  margin-bottom: 0.6em

#locations
  width: 40%
  padding: 0 0 0 20px
  margin-right: 2em

  ul
    .empty_message
      display: none
      +font_size(16)
      color: $grey_c
      text-align: center
      padding-top: 4em

    &.empty
      .empty_message
        display: block


  li
    padding: 1em 1em 1em 0
    border-bottom: 1px solid #ccc

    .name
      margin-right: 2em
      font-weight: bold

      &:empty
        margin-right: 0

    .delete
      float: right
      cursor: pointer

#map
  width: 550px
  height: 350px
  border: 2px solid $grey_a
